services:
    java:
      container_name: gaj-service
      image: gaj-service:0.1
      ports:
        - 8080:8080
        - 8083:8083
      volumes:
        - ./gaj-server-main:/gaj-server-main
        - ./conf/compilar.sh:/usr/local/bin/compilar.sh
        #- ./keys/server.xml:/opt/tomcat/conf/server.xml
        #- ./keys/sqlhosts:/etc/sqlhosts
        - ./keys/m2-settings-v2.xml:/root/.m2/settings.xml
        - ./conf/python-scripts:/root/python
        - ./conf/homeroot:/root
        - ./conf/tomcat-users.xml:/etc/tomcat8/tomcat-users.xml
        #- ./conf/homeroot/tmf.war:/var/lib/tomcat8/webapps/tmf.war
        - ./keys/application-uat2.yml.mainjuzgamiento:/etc/application-uat2.yml.mainjuzgamiento
    db:
<<<<<<< HEAD
        image: postgis/postgis:12-3.4
=======
        image: postgres:12
>>>>>>> b79a047 (agrego front)
        container_name: gaj-db
        #restart: always
        environment:
          POSTGRES_DB: gaj
          POSTGRES_USER: root
          POSTGRES_PASSWORD: pass123
        volumes:
<<<<<<< HEAD
          - ./keys/m_gaj.27-03-23.esquema.sql:/docker-entrypoint-initdb.d/init-db.sql
          #- ./keys/m_gaj.27-03-23.esquema.sql:/esquema.sql
=======
          #- ./m_gaj.27-03-23.esquema.sql:/docker-entrypoint-initdb.d/init-db.sql
          - ./keys/m_gaj.27-03-23.esquema.sql:/esquema.sql
>>>>>>> b79a047 (agrego front)
        ports:
          - "5432:5432"
    front:
      container_name: gaj-front
      image: gaj-front:0.1
      ports:
        - 4200:4200
      volumes:
<<<<<<< HEAD
        - ./conf/compilar-front.sh:/usr/local/bin/compilar-front.sh
=======
>>>>>>> b79a047 (agrego front)
        - ./gaj-frontend:/gaj-frontend
    